In [8]:
import pandas as pd

In [9]:
pd.__version__

'2.2.2'

In [24]:
dict_medidas = { 'idade': [14,14,34,26,32,42,13,17,80], 'altura' : [ 180, 173,139,183,167,187,190,183,190]}

In [25]:
df_medidas= pd.DataFrame.from_dict(dict_medidas)

df_medidas

   idade  altura
0     14     180
1     14     173
2     34     139
3     26     183
4     32     167
5     42     187
6     13     190
7     17     183
8     80     190

In [26]:
df_medidas=df_medidas.sort_values(by='idade').reset_index(drop=True)
df_medidas

   idade  altura
0     13     190
1     14     180
2     14     173
3     17     183
4     26     183
5     32     167
6     34     139
7     42     187
8     80     190

## Medidas Resumo

### Medidas de posição

In [27]:
#media

df_medidas['altura'].mean()

np.float64(176.88888888888889)

In [28]:
#mediana
df_medidas['idade'].median()

np.float64(26.0)

In [29]:
df_medidas['idade'].mode()

0    14
Name: idade, dtype: int64

### Medidas de dispersão

In [30]:
#variancia
df_medidas.idade.var()

np.float64(456.19444444444446)

In [31]:
#desvio padrão

df_medidas.idade.std()

np.float64(21.35870886651261)

In [34]:
#coeficiente de variação - Idade

df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(70.67219845537261)

In [35]:
#coeficiente de variação - Altura

df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(9.113183004838914)

### Medidas de Forma

In [36]:
#Assimetria - Idade

df_medidas.idade.skew()

np.float64(1.7978747598660203)

In [37]:
#Assimetria - Curtose

df_medidas.idade.kurtosis()

np.float64(3.6870083736235664)

In [38]:
df_medidas.altura.kurtosis()

np.float64(3.9293639242478307)

### Correlação de Varáveis

In [39]:
#correlação do dataframe
df_medidas.corr(method='pearson',)

           idade    altura
idade   1.000000  0.105728
altura  0.105728  1.000000